<section class="pt-3 px-5 shadow-lg ">
    
    <div class="row ">
        
        <div class="col mb-3 text-center" >
            
            <ngx-charts-line-chart
            [view]= "[1000, 500]"
            [legend]="legend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [timeline]="timeline"
            [results]="multi"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"
            >
          </ngx-charts-line-chart>
        </div>
        
    </div>
    <div class="row">
        <div class="col mb-3">
            <button class="btn--lg  btn--primary mr-5 " (click)="onStart()">Start</button>
            <button class="btn--lg  btn--primary " (click)="onStop()">Stop</button>
        </div>
        
    </div>
    <div class="row">
        <div class="col mb-3">
            <div>Heart beat rate : {{heartRate}} BPM</div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            <div><button class=" btn--primary" data-toggle="collapse" href="#history" aria-expanded="false" attr.aria-controls="history" (click)="onCheck()">Check previous activities</button></div>
        </div>
    </div>
    <hr>
    <div class="row collapse" id="history">
        <div class="col mb-3">
            <h5 class="primary">History</h5>
            <app-heart-record *ngFor="let record of bpms"
                [hrValue]="record.value"
                [hrDate]="record.date">
            </app-heart-record>
        </div>
    </div>
</section>